.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;   
    h1 {
        font-weight: 500;
        font-size: 2rem;
        @include tablet {
            font-size: 3rem;
        }
    }
}
.content {
    padding: 2rem;
    
    h1 {
        font-size: 2rem;
        font-weight: normal;
        margin: 0;
    }
}
.right {
    padding: 2rem 20%;
}